/* ================================================= google fonts ================================================= */
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

:root {
  --white-color: #ffffff;
  --grey-color: #2f3336;
  --lightblue-color: #1a8edd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass Mono", monospace;
}

body {
  background: #000000;
}

.todolist-container {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 90vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--grey-color);
}

.todolist-header {
  text-align: center;
  color: var(--white-color);
}

.headline {
  display: inline-block;
}

.todolist-header > i {
  font-size: 20px;
}

.todolist-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#todolist-inputfield {
  width: 70vmin;
  background: transparent;
  outline: none;
  padding: 5px 8px;
  border: none;
  border-bottom: 1px solid var(--grey-color);
  color: white;
}

.createtodobtn {
  background: transparent;
  color: var(--white-color);
  padding: 5px 8px;
  text-transform: capitalize;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  cursor: pointer;
}

.createtodobtn:hover {
  background: #171717;
}

#todolist-notification {
  color: var(--lightblue-color);
  text-transform: capitalize;
  font-size: 12px;
  display: none;
}

.todolistitems-ul {
  width: 100%;
}

/* ================================================= each todolist itembox li ================================================= */
.each-todolist-itembox {
  list-style-type: none;
  text-transform: capitalize;
  padding: 5px 0;
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--white-color);
}

.todolist-itemtext {
  user-select: none;
  font-size: 13px;
}

.todolist-itemtext.task-completed {
  text-decoration: line-through;
}

.iconsdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.iconsdiv i {
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
}

#edit-todoitem {
  background: transparent;
  color: var(--lightblue-color);
}

#delete-todoitem {
  background: transparent;
  color: var(--lightblue-color);
}

#edit-todoitem:hover,
#delete-todoitem:hover {
  background: rgb(231, 233, 234, 0.1);
}

/* ======================== overlay notification for todo item deletion confirmation box ======================== */
.overlay-notification-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
  display: none;
}

.overlay-notification-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}

.overlay-notification-indicatortext {
  font-size: 14px;
}

#todoitem-deletion-confirmationbox.showhide,
#emptyinput-alertbox.showhide {
  display: block;
}
